
<section class="flex flex-wrap productsSection">
  <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/4 ">
  </div>
  </section>
  {{!-- <script src="/socket.io/socket.io.js"></script> --}}
<script src="/index.js"></script>