<label class="form-control w-full max-w-xs">
  <div class="label">
    <span>Producto</span>
    
  </div>
  <input type="text" placeholder="Type here" class="title input input-bordered w-full max-w-xs" />
  
  <div class="label">
    <span class="">Imagen</span>
  </div>
  <input type="text" placeholder="Type here" class=" photo input input-bordered w-full max-w-xs" />

  <div class="label">
    <span class="label-text">Precio </span>
  </div>
  <input type="number" placeholder="Type here" class="price input input-bordered w-full max-w-xs" />
  

  <div class="label">
    <span >Stock Disponible:</span>
  </div>
  <input type="number" placeholder="Type here" class="stock input input-bordered w-full max-w-xs" />
  
  <button class="saveButton btn btn-active btn-neutral">Guardar Datos</button>
</label>
<script src="/socket.io/socket.io.js"></script>
<script src="/form.js"></script>