<main>
<div class="hero min-h-10 bg-base-200">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold">Market Place</h1>
      <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      <button class="btn btn-primary">PROMOCIONES</button>
    </div>
  </div>
</div>

<section class="flex flex-wrap productsSection">
  <div class="w-full sm:w-1/2 md:w-1/4 lg:w-1/4 ">
  </div>
  </section>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>